.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--green-color);

  overflow: hidden;
  @media screen and (min-width: 768px) {
  }

  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      color: var(--yellow-color);
      font-size: 1.4rem;
      font-weight: 700;

      @media screen and (max-width: 768px) {
        font-size: 1.3rem;
      }
    }

    &__menu {
      @media screen and (max-width: 768px) {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.3);
        transition: 0.5s;
        backdrop-filter: blur(10px);
        text-align: center;
      }
    }

    &__item {
      margin-bottom: var(--mb-4);

      @media screen and (min-width: 768px) {
        margin-left: var(--mb-4);
        margin-bottom: 0;
        height: 100%;
        cursor: pointer;
        height: 37px;

        &:hover {
          a {
            color: var(--yellow-color);
          }
        }
      }
    }

    &__list {
      @media screen and (min-width: 768px) {
        display: flex;
      }
    }

    &__link {
      position: relative;
      color: #2a3b47;
      font-weight: 400;

      // &:hover {
      //   color: var(--yellow-color);
      // }

      @media screen and (min-width: 768px) {
        color: var(--white-color);
      }
    }

    .nav__toggle {
      color: var(--white-color);
      @media screen and (min-width: 768px) {
        display: none;
      }

      &:hover {
        color: var(--yellow-color);
      }

      &-cancel {
        display: none;
      }
    }

    .show {
      right: 0;
    }

    .active::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 0.18rem;
      left: 0;
      top: 2rem;
      background-color: var(--yellow-color);
    }

    @media screen and (min-width: 768px) {
      height: calc(var(--header-height) + 1rem);
    }
  }
  .active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--yellow-color);

    @media screen and (min-width: 768px) {
      background-color: var(--yellow-color);
    }
  }
}
